<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../assets/global.css">
    <link rel="stylesheet" href="../assets/aboutStyle.css">    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
     <a href="/starWars/index.html">
        <img src="../assets/img/logo.png" alt="Star wars logo" class="center medium">
    </a>

    <div id="titleDiv">
        <h3 class="container col-md-2 text-info" style="text-align: center;">About</h3>
    </div>

    <div class="linksDiv">
        <a class="btn btn-outline-warning link" href="./movies.html" role="button">Movies</a>
        <a class="btn btn-outline-warning link" href="./peopleAndShips.html" role="button">People and Ships</a>
    </div>
    
    <div class="stopAudioMsg">
        <em>Click anywhere to pause/play music</em>
    </div>
    
    <div class="fade"></div>

    <section class="txtSec">
        <div class="crawl">
          
          <div class="title">
            <h1>About the project</h1>
          </div>
          <p>This Star Wars Info/Fan website is a result of a merger of two separate and different tasks from SEDC Academy of Web Development, one from the subject Basic JavaScript Development and the other from the subject
            Advanced JavaScript Development. The original idea was to merge the both codes into one SPA app, but since it needed more refactoring and optimization, I opted for the multiple pages approach, with only adjusting
            the style and UX to be more compatible since the idea is that they are both different pages from one website.</p>
          <p>The whole credits for the CSS code of this crawler go to Geoff Graham. <a href="https://css-tricks.com/snippets/css/star-wars-crawl-text/" target="_blank">css-tricks.com/snippets/css/star-wars-crawl-text</a></p>
        </div>  
    </section>

    
<script src="../scripts/about.js"></script>
</body>
</html>