<link rel="stylesheet" href="../../components/navbar/navbar.css">
<header>
    <nav id="navbar">
        <div class="hamburger">
            <div class="line line-top"></div>
            <div class="line line-middle"></div>
            <div class="line line-bottom"></div>
        </div>
        <div>
            <a href="../../pages/home/home.html"><img src="../../assets/images/newstopia-logo.svg" alt="logo"></a>
        </div>
        <div id="searchbar">
            <button id="close-searchbar" class="btn-icon"><i class="icon icon-close icon-black"></i></button>
            <form method="get" action="" role="search" id="express-form" novalidate="">
                <input type="search" name="search" placeholder="Search..." id="search-input">
                <button class="search-btn btn-icon" type="submit">
                    <i class="icon icon-search icon-black"></i>
                </button>
            </form>
        </div>
        <div id="togglers">
            <button id="toggle-user-options" class="btn-transparent btn-icon"><i
                    class="icon icon-user icon-white"></i></button>
            <button id="open-searchbar" class="btn-transparent btn-icon"> <i
                    class="icon icon-search icon-white"></i></button>
        </div>
        <div id="user-options">
            <a id="login" href="#" class="btn btn-primary">Login <i class="icon icon-login icon-blue"></i></a>
            <a id="signup" href="#" class="btn btn-secondary">Signup <i class="icon icon-signup icon-white"></i></a>
        </div>
    </nav>
</header>