#article-img {
   height: 200px;
}

#article-info {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 20px 0;
   width: 100%;
   gap: 10px;
   border-bottom: 1px solid var(--secondary-color);
   padding-bottom: 10px;
}

#article-info h1 {
   text-align: center;
}

#article-details {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
}

#article-txt {
   font-size: 18px;
   white-space: pre-line;
}
#article-txt p {
   margin-bottom: 20px;
}

#ad-banner {
   width: 100%;
}

#feedback {
   margin-top: 20px;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 15px;
}

#rating {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

#rating-controllers {
   display: flex;
   gap: 30px;
}

.thumbs {
   cursor: pointer;
   color: var(--secondary-color);
}

.votes {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.votes span {
   font-size: 20px;
}

#up {
   color: #4caf50;
   opacity: 0.5;
}

#down {
   color: #f50057;
   opacity: 0.5;
}

#up:hover,
#down:hover {
   opacity: 1;
}

#comment-form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

#submit-btn {
   width: 100%;
}

.form-group {
   display: flex;
   flex-direction: column;
}

.input-group {
   flex-grow: 1;
}
.input-group input {
   width: 100%;
}

#comment {
   resize: none;
   width: 100%;
   padding-top: 20px;
}

.input {
   border: 2px solid var(--secondary-color);
   border-radius: 10px;
   text-indent: 15px;
}

input.input {
   height: 35px;
}

.input:focus {
   outline: 2px solid var(--primary-color);
}

#submit-comment {
   width: 70%;
   padding: 10px 0;
   margin: 10px auto 0;
   background-color: #fff;
   border-radius: 10px;
   border: 2px solid var(--primary-color);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 2px;
}

#comment-error {
   color: red;
}

#comments {
   display: none;
   padding: 20px;
}

#comments-container {
   margin-top: 20px;
}
.user-comment {
   padding: 20px;
   border: 1px solid var(--primary-color);
   border-radius: 10px;
}
.user-comment p {
   margin-bottom: 10px;
}
#share-post {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;
}
#share-post p {
   text-align: center;
   width: 50%;
   border-bottom: 1px solid var(--secondary-color);
}

#icons {
   display: flex;
   justify-content: center;
   gap: 20px;
}

@media screen and (min-width: 992px) {
   #article-img {
      height: 400px;
   }

   #submit-comment {
      width: 50%;
   }

   .form-group {
      flex-direction: row;
      gap: 30px;
   }
}

.fa-facebook {
   color: #3b5998;
}

.fa-twitter {
   color: #55acee;
}

.fa-linkedin {
   color: #007bb5;
}
