<link rel="stylesheet" href="../../components/footer/footer.css">
<footer>
    <div class="copyright">
        <p>&copy;2022 NEWSTOPIA. All rights reserved.</p>
    </div>
    <div class="footer-nav-links">
        <ul class="nav-list">
            <li class="list-item"><a href="../../pages/other/privacy.html">Privacy Policy</a></li>
            <li class="list-item"><a href="../../pages/other/cookies.html">Cookies</a></li>
            <li class="list-item"><a href="../../pages/about/about.html" target="_blank">About</a></li>
        </ul>
    </div>
</footer>